.num-movies {
	text-decoration: underline overline #fff;
	text-underline-offset: 0.5rem;
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	font-size: 1.5rem;
	font-weight: 300;
	margin: 1rem 1rem 1rem 0;
	text-align: center;
}

@media (max-width: 540px) {
	.num-movies {
		font-size: 1.1rem;
		line-height: 2.5rem;
	}
}

.decade {
	margin-left: 1rem;
	color: rgb(69, 255, 141);
	font-weight: 500;
}

.genre {
	color: rgb(69, 255, 141);
	font-weight: 500;
}
